@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
.conteneur-main {
    position: relative;
    height: 100vh;
    background: url(../images/bright-bulb-close-up.jpg);
    color: #fff;
    text-align: center;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}
a{
    text-decoration:none;
    color: inherit
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.titre-banniere h1 {
    font-size: 82px;
    line-height: 1.5;
    text-transform: none;
    padding-bottom: 5px;
    margin: 0;
    padding-top: 30px;
    font-weight: 500;
    letter-spacing: 5px;
}

.min-titre {
    font-size: 20px;
    line-height: 1.5;
    text-transform: none;
    padding-bottom: 80px;
    letter-spacing: 4px;
}

.content-text-chargement p {
    font-size: 42px;
    line-height: 1.1;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.content-countdown-wrapper {
    text-align: center;
    width: 65%;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    -ms-flex: flex;
    -ms-justify-content: space-between;
}

.bloc-timer {
    display: inline-block;
    /* font-family: "Open Sans"; */
    font-size: 120px;
    line-height: 0.3;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: l;
}

.bloc-timer span {
    font-size: 18px;
    text-align: left;
}


.bloc-reseau-socio {
    position: absolute;
    bottom: 27px;
    left: 0;
    right: 0;
    display: flex;
    -ms-flex: flex;
    justify-content: center;
    align-items: center;
    -ms-justify-content: center;
    -ms-align-items: center;
    border-radius: 50%;
}

.bloc-reseau-socio a:first-child {
    background: rgb(41, 72, 125);
}

.bloc-reseau-socio a:nth-child(2){
    background: rgb(29, 161, 242);
}

.bloc-reseau-socio a:nth-child(4){
    background: white;
    color: #9C27B0;
}

.bloc-reseau-socio a:nth-child(3){
    background: rgb(0, 115, 177);
}
.bloc-reseau-socio a:last-child {
    background: red;
}

.bloc-reseau-socio a:last-child i{
    padding-top:5px;
}

*{
    box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.bloc-reseau-socio a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-justify-content: center;
    -ms-align-items: center;
    -ms-flex: flex;
    border-radius: 50%;
    margin-right: 14px;
}

.conteneur-2-bloc {
    display: flex;
    -ms-flex: flex;
}

.bloc-left, .bloc-right {
    width: 50%;
    height: 500px;
}

.bloc-right {
    background: #014667;
    padding: 20px 30px;
    color: #fff;
    font-weight: 300;
}

.bloc-left {
    background-color: #19181e;
    color: #fff;
    padding-bottom: 30px;
}

.content-header-bloc li {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid rgba(234, 233, 238, 0.67);
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(234, 233, 238, 0.67);
    border-radius: 3px;
    transition: all 0.5s;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
}

.content-header-bloc li.actif, .content-header-bloc li:hover {
    color: rgba(234, 233, 238, 1);
    border-color: rgba(234, 233, 238, 1);
}

.content-header-bloc ul {
    padding-top: 35px;
    display: inline-block;
}

.header-titre-bloc h2 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Open Sans Condensed';
}

.content-header-bloc {
    text-align: center;
}

div#content-wrap-slider {
    width: 80%;
    margin: 0 auto;
}

div#content-wrap-slider img {
    width: 100%;
    height: auto;
    display: block;
}


.content-info-entreprise {
    width: 18%;
    padding: 20px 30px 30px;
    background: #2196F3;
    border-radius: 5px;
    color: #fff;
    /* position: sticky; */
    /* top: 135px; */
    margin-top: -52px;
}

.title {
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    color: rgb(255, 255, 255);
}

.content-info-contact-wrapper li {
    display: flex;
    -ms-flex: flex;
    margin-bottom: 13px;
    font-size: 16px;
    text-transform: none;
}

.content-info-contact-wrapper i {
    margin-right: 8px;
    font-size: 20px;
    color: rgb(40, 140, 139);
    width: 20px;
}

.content-reseau-socio {}

.content-reseau-socio a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 0, 0, 0.02);
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid;
    -ms-flex: flex;
    -ms-align-items: center;
    -ms-justify-content: center;
}

.content-reseau-socio a:hover {
    background: rgb(223, 0, 108);
    border-color: rgb(223, 0, 108);
    transition: all 0.5s;
}

.content-reseau-socio {
    display: flex;
    -ms-flex: flex;
    justify-content: center;
    -ms-justify-content: center;
}

.content-info-contact-wrapper ul {
    display: block;
    /* flex-direction: column; */
    width: 38%;
    margin: 0 auto;
}

.icone-- {}

.content-wrap-subscrib form {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.content-wrap-subscrib form input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 16px;
}

.content-wrap-subscrib form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    background: rgb(40, 140, 139);
    border: none;
    color: #fff;
    cursor: pointer;
}

.content-head-title p {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: lighter;
}

.content-text-desc {
    text-align: center;
    line-height: 1.6;
}



button.prev-slider, button.next-slider {
    position: absolute;
    top: 40%;
    background: none;
    border: none;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    z-index: 30;
}

button.prev-slider {
    left: -45px;
}

button.next-slider {
    right: -50px;
    /* cursor: pointer; */
}

.content-bloc {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

div#contact {
    padding-top: 100px;
}

div#subscribe {
    padding-top: 120px;
}

.content-all-bloc-wrapper {
    position: relative;
}

.content-logo {
    width: 22%;
    margin: 0 auto 40px;
}

.content-logo img {
    width: 100%;
    height: auto;
    display: block;
}